<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>订单管理</h1>
    <small>订单列表</small>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="images" style="display: none"></div>
<div th:include="console/footer"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/css/ui.jqgrid.css"/>
<script src="/static/js/jqprint.js"></script>

<script src="/static/js/order.js"></script>
</body>
</html>

