<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>订单管理</h1>
    <small>订单列表</small>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a href="/console/role/from" class="btn btn-primary">添加角色</a>
</div>
<div th:include="console/footer"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/css/ui.jqgrid.css"/>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    var datePick = function (elem) {
        jQuery(elem).datepicker({dateFormat: 'yyyy-mm-dd'});
    }
    function getLocalTime(nS,row,index) {
        return new Date(parseInt(nS) ).toLocaleString().replace(/:\d{1,2}$/,' ');
    }
    function initDataGrid() {
        $table.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "roleId",
            columns: [[
                {
                    title: "订单日期", field: "orderDate",formatter:getLocalTime, sorttype: "date",searchable:true, name:"orderDate",index:"orderDate",
                    searchoptions: {dataInit: datePick, attr: {title: '选择日期'}}
                },
                {
                    title: "订单电话", field: "user.tel", search: true,
                    searchoptions: {sopt: ['eq']}
                },
                {
                    name: 'payState',
                    title:'订单状态',
                    index: 'payState',
                    width: 90,
                    editable: false,
                    search: true,
                    field: "payState",
                    searchoptions: {
                        sopt: ["eq"],
                        value: "'':全部;PAYING:正在支付;PAID:已经支付;PRINTED:已经打印;FINISH:已完成"
                    },
                    formatter:stateFormatter
                },
                {title: "打印", field: "operate1", align: 'center', events: operateEvents, formatter: printFormatter},

                {title: "操作", field: "operate2", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url: '/console/order/search',
            queryParams: function (params) {
                console.log(params)
                return params;
            },
            // responseHandler: function (res) {
            //     return {
            //         rows: res.result.pageInfo.list,
            //         total: res.result.pageInfo.total
            //     }
            // },
            sortName: 'id',
            sortOrder: 'desc',
            pagination: true,
            sidePagination: 'server',
            pageSize: 20,
            pageList: [20, 40, 50, 100],
            toolbar: "#toolbar",
            showRefresh: true,
            showToggle: true
        });
    }
//                        value: "'':全部;PAYING:正在支付;PAID:已经支付;PRINTED:已经打印;FINISH:已完成"

    function stateFormatter(value,row,index) {
            var map={
                "PAYING":"正在支付",
                "PAID":"已经支付",
                "PRINTED":"已经打印",
                "FINISH":"已结束"
            }
            return map[value]
    }
    function operateFormatter(value, row, index) {
        return [
            '<a class="print" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-edit"></i>已打印',
            '</a>  ',
            '<a href="/console/role/from?roleId=' + row.roleId + '" >',
            '<i class="glyphicon glyphicon-remove"></i>取消订单',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-edit"></i>已经完成',
            '</a>'
        ].join('');
    }

    function printFormatter(value, row, index) {
        return [
            '<a class="print" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-edit"></i>打印',
            '</a>  '
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.roleId, '/console/role/delete', 'roleId');
        },
        'click .print': function (e, value, row, index) {
            layer.open({
                type: 2,
                title: '角色授权',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '600px'],
                content: '/console/role/grant/?roleId=' + row.roleId
            });
        }
    };

</script>
</body>
</html>

