<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<form action="http://120.77.85.241/app.php/api/1.0/user/register/register" method="get">

    <input name="userName" value="18011302985"/>
    <input name="password" value="666666pk"/>
    <input name="code" value="903394"/>
    <input type="submit">
</form>
<script>

    <!--$.ajax({-->
        <!--url:"http://120.77.85.241/app.php/api/1.0/user/register/register",-->
        <!--type: "POST",-->
        <!--data: {userName:"18011302985",password:"666666pk",code:"903394"},-->
        <!--success:function (data) {-->
            <!--console.log(data)-->
        <!--}-->

    <!--})-->

</script>