<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<form action=http://39.108.239.191:8080/API/user/logining" method="post">

    <input name="userName" value="18011302985"/>
    <input name="password" value="666666pk"/>
    <input name="code" value="903394"/>
    <input type="submit">
</form>
<script>
    $.ajax({
        url: "http://localhost:8080/API/user/logining",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({username: "18011302985", password: "666666pk"}),
        success: function (data) {
            console.log(data)
        }

    })
</script>