<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>打印店价格管理</h1>
    <small>打印店价格管理</small>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a href="/console/point/from" class="btn btn-primary">添加价格条目</a>
</div>
<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        $table.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "id",
            columns: [[
                {title: "名称", field: "pointName"},
                {title: "地址", field: "address"},
                {title: "配送范围", field: "delivery_scope"},
                {title: "电话号码", field: "phone", sortable: true},
                {title: "起送金额", field: "minCharge", sortable: true},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url: '/console/point/search',
            queryParams: function (params) {
                return params;
            },
            search: false,
            searchOnEnterKey: true,
            sortName: 'createdAt',
            sortOrder: 'asc',
            pagination: false,
            toolbar: "#toolbar",
            showRefresh: true,
            showToggle: true
        });
    }


    function operateFormatter(value, row, index) {

            return [
                '<a href="/console/point/edit?id=' + row.id + '" >',
                '<i class="glyphicon glyphicon-edit"></i>修改',


                '</a>  ',
                '<a class="remove" href="javascript:void(0);">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</a>'
            ].join('');

    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.id, '/console/point/delete', 'id');
        }
    };
</script>
</html>